html{
    background-color:#c0b4c4;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #7e7095;
    color: white;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    padding: 20px;
}

.filter {
    margin-bottom: 20px;
    text-align: center;
}

select {
    padding: 10px;
    font-size: 16px;
}

.section h2 {
    text-align: center; /* Centre le texte horizontalement */
    margin-bottom: 10px; /* Ajoute un espace sous le titre pour le séparer des blocs */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    padding: 20px;
}

/* Style pour la barre de recherche */
#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

/* Mise en page des documents */
.documents {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    justify-items: center;
}

/* Style des cartes de documents */
.doc-card {
    position: relative;
    width: 220px;
    height: 80px;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.doc-card:hover {
    transform: scale(1.05);
}

.bg-blue { background-color: #4A90E2; }
.bg-purple { background-color: #756B8C; }
.bg-pink { background-color: #C5416A; }
.bg-dark-blue { background-color: #325298; }

.bg-blue:hover { background-color: #357ABD; }
.bg-purple:hover { background-color: #5E4B7E; }
.bg-pink:hover { background-color: #A93358; }
.bg-dark-blue:hover { background-color: #253c70; }