html {
    background-color:#c0b4c4;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

/* page 1 HEADER */

header {
    width: 100%;
    height: 100px;
    background-color: #756B8C  ;
    color: white;

}

header h1 {
    display: flex;
    position: absolute;
    margin: 30px;
    font-size: 100px;
}

header h1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 10px;
}

header nav{
    vertical-align: top;
    display:flex;
    height:100%;
    justify-content: space-evenly;
}

header nav ul {
    display: flex;
    height: 100%;
}

header nav ul li {
    display: flex;
}

header nav ul li a {
    display: block;
    height: 100%;
    width: 250px;
    line-height: 100px;
    text-decoration: none;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    font-size: 2.5em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header nav ul li a:hover {
    background-color: white;
    color : #756B8C;
}

.sec-header {
    scroll-snap-align: start ;
}

/* IMAGE */

.image-dessous-navbar {
    width: 1920px;
    height: 600px;
    object-fit: cover; /* Keeps the aspect ratio */
    background-size: cover; /* Ensures the image covers the whole width */
    background-position: center;
}

/* CARROUSSEL */

/* Carousel Section */
.carousel-section {
    width: 100%;
    margin: 20px 0;
}

.carousel {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
    height: auto;
}

/* Controls */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px;
    font-size: 24px;
    color: white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Active slide */
.active {
    display: block;
}

/* SECTIONS ACTUALITES */

.actualites-section {
    text-align: center;
    padding: 40px 20px;
    background-color: #e3d9e8;
}

.actualites-section h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: white;
    font-family: "Bebas Neue", sans-serif;
}

.actualites-section p {
    font-size: 1.25em;
    margin-bottom: 40px;
    color: white;
    font-family: "Bebas Neue", sans-serif;
}

.actualites {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.actualite {
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
}

.actualite img {
    width: 200px;
    height: 120px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.actualite h3 {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}

/* partenaires */

.logo-item {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 10px;
}

.logo-item img {
    width: 65%; /* Ajustez en fonction de la taille souhaitée du logo dans le carré SVG */
    height: auto;
    position: relative;
    z-index: 1; /* Place le logo devant le SVG */
}

.logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Crée une grille avec 3 colonnes */
    gap: 20px; /* Espace entre les éléments */
    justify-items: center; /* Centre les éléments horizontalement */
}

.partenaires-section button {
    width: 300px;
    height: 50px;
    margin-bottom: 10px;
    margin-left: 42%;
    background-color: #756B8C;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    color: white;
    border-color: rebeccapurple;
    border-radius: 10px;
}

.partenaires-section {
    text-align: center;
    padding: 40px 20px;
}

.partenaires-section h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: white;
    font-family: "Bebas Neue", sans-serif;
}

.partenaires-section p {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.25em;
    margin-bottom: 40px;
    color: white;

}