body{
    background: linear-gradient(to bottom right, mediumpurple,peachpuff);
    height: 100vh;
}

.form-container {
    display: none;
}
.form-container.active {
    display: block;
}

.form-container{
    margin-top:10em;
    margin-bottom:19em;
}


