body {
    background: linear-gradient(to bottom right, mediumpurple, peachpuff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;          /* Hauteur de la fenêtre */
    margin: 0;
    overflow: hidden;       /* Empêche les débordements */
}
header{
    margin-bottom: 2em;
}

.form-container {
    background-color: #ffffff; /* Couleur de fond blanche */
    border: 1px solid #ddd;   /* Bordure légère */
    border-radius: 1em;      /* Coins arrondis */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre subtile */
    padding: 15px;            /* Espace intérieur réduit */
    max-width: 60%;         /* Largeur maximale */
    width: 95%;               /* Largeur flexible */
    max-height: 80vh;
    margin-top : 100px;
    overflow-x: auto ;
    overflow-y: auto;
}

.form-container h1 {
    text-align: center;
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.form-container div {
    margin-bottom: 10px;
}

.form-container label {
    display: block;
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 0.9rem;
}

.form-container select,
.form-container input,
.form-container textarea {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9rem;
}
.form-container input#age{
    width: 88.5%;
}

.form-container textarea {
    resize: vertical;
}


.form-container button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
}

#auth-form .form-label {
    font-size: 0.875rem;
    font-weight: normal;
    color: #555;
    margin-bottom: 0.5rem;
}



/* Styles pour les groupes de cases à cocher */
.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.checkbox-item {
    display: flex;
    align-items: center;
    gap: 20em;
}

.checkbox-item input[type="checkbox"] {
    margin: 0;
}

/* Ajustements globaux pour le formulaire */
.question {
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
}

label {
    font-size: 16px;
}

